<% include partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 class="text-center mt-2" id="title">Weather Finder</h1>
                <div class="jumbotron mt-5">
                    <form action="/" method="POST">
                        <div class="form-group text-center">
                            <input type="text" name="city" class="form-control mb-2" id="exampleInputEmail1" placeholder="Enter City...">
                            <button type="submit" class="btn btn-primary">Get Weather</button>
                        </div>
                    </form>
                </div>
                <div class="text-center">
                    <% if(weather !== null){ %>
                        <div class="alert alert-success" role="alert">
                            <%= weather %>
                        </div>
                     <% } %>
                     <% if(error !== null) { %>
                         <div class="alert alert-danger" role="alert">
                             <%= error %>
                        </div>
                     <% } %>
                </div>
            </div>
        </div>



    </div>

    <% include partials/footer %>